# Site settings
title: An-Che Liang
email: namwoam@gmail.com
description: >-
  A personal website and blog built with Jekyll.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://namwoam.github.io" # the base hostname & protocol for your site
github_username: namwoam
#twitter_username: your_twitter # optional
#linkedin_username: your_linkedin # optional

# Build settings
markdown: kramdown
theme: minima
plugins:
- jekyll-feed
- jekyll-seo-tag

# Permalink structure for blog posts
permalink: /blog/:year/:month/:day/:title/

# Collections
collections:
  posts:
    output: true
    permalink: /blog/:year/:month/:day/:title/

# Exclude from processing
exclude:
- Gemfile
- Gemfile.lock
- node_modules
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
- README.md

# Default front matter
defaults:
- scope:
    path: ""
    type: "posts"
  values:
    layout: "post"
    author: "namwoam"
- scope:
    path: ""
  values:
    layout: "default"
